.inputClass {
    resize: none;
    outline: none;
    border: 1px solid black;
    border-radius: 4px;
    padding: 6px;
    height: 20px;
    width: 300px;
    font-family: "Century Schoolbook";
    font-size: 12px;
}


.inputClass:focus {
    background: #fbfbfb;
    transition: .5s;
}


@media screen and (max-width: 588px) {
    .inputClass {
        font-size: 10px;
        width: 200px;
    }
}
