.container {
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.inputArea {
    margin-bottom: 10px;
}

.buttons {
    display: flex;
    width: 300px;
    justify-content: space-evenly;
    margin-top: 10px;
}
