.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

}

.searchTyping, .head, .cards {
    display: flex;
    height: 60px;
    width: 90%;
    align-items: center;
    justify-content: space-around;

}

.head {
    border-radius: 5px;
    margin-top: 10px;
    border: 1px solid #343434;
}

.cards {
    border: 1px solid #acacac;
    margin-top: 10px;
    height: 140px;

}

.buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 120px;

}

.buttons .regularButton {
    height: 20px;
}
