.regularButton, .deleteButton {
    border: 1px solid transparent;
    box-shadow: none;
    cursor: pointer;
    user-select: none;
    padding: 0 13px;
    height: 32px;
    width: 100px;
    border-radius: 4px;
    font-size: 16px;
    color: white;
}

.deleteButton {
    background-color: #ed534e
}

.regularButton {
    background-color: #65a3be
}

